<br />
@{
    ViewData["Title"] = "Adote um amigo!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    A Quinta do Mião  está aberta ao público e pode ser visitada de 2ª a 6ª feira, das 14h00 às 17h00, na zona Industrial da Quinta das Rebelas, Santo André. Pode, também, ligar para o telefone: 21 206 86 25.
    Eles esperam por si!
</p>

