@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h2>@ViewData["Title"]</h2>

<p>
    <b>O que são cookies?</b>
    Os cookies são pequenos ficheiros de texto armazenados no computador do utilizador aquando da visita a determinados websites. Em alguns casos, são eliminados após essa visita. Noutros são mantidos para visitas posteriores. O uso de cookies no acesso a websites é uma prática usual e os vários browsers permitem que cada utilizador possa recusar a sua utilização, bem como eliminar os que foram já criados.
    As páginas de Internet podem usar cookies para melhorar a navegação dos Utilizadores, bem como perceber melhor o comportamento, gostos e interesses dos Utilizadores.
</p>
