@model AlbergueAnimal.Models.Product

@{
    ViewData["Title"] = "Inserir Produto";
}
<br />
<p>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Stock" asp-action="Index">Lista de Stock</a></li>

        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</p>

<h2>Inserir Produto</h2>

@*<h4>Produto</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductTypeID" class="control-label"></label>
                <select asp-for="ProductTypeID" class="form-control" asp-items="ViewBag.ProductTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referencia" class="control-label"></label>
                <input asp-for="Referencia" class="form-control" />
                <span asp-validation-for="Referencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeLimite" class="control-label"></label>
                <input asp-for="QuantidadeLimite" class="form-control" />
                <span asp-validation-for="QuantidadeLimite" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label class="control-label">Fotografia Producto</label>
                    <input type="file" class="form-control" name="ThePicture" />
                </div>*@
            <div class="file form-control-file input-file-container">
                <input type="file" name="ThePicture" id="file" />
                <label for="file">Fotografia</label>


            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

<style>



    .file {
        position: relative;
    }

        .file label {
            background: #39D2B4;
            padding: 5px 20px;
            color: #fff;
            font-weight: bold;
            font-size: .9em;
            transition: all .4s;
        }

        .file input {
            position: absolute;
            display: inline-block;
            left: 0;
            top: 0;
            opacity: 0.01;
            cursor: pointer;
        }

            .file input:hover + label,
            .file input:focus + label {
                background: #34495E;
                color: #39D2B4;
            }
</style>