@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de alteração de password";
}

<h2>@ViewData["Title"]</h2>
<p>
    A sua password foi alterada. Por favor <a asp-page="./Login">click aqui para entrar</a>.
</p>
